{:kotoba.app/id "cloud.itonami.isic-2818", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidk4q3q7nqksmy4yszpt5rbcni7rnzo5hcxs5cztmfibrtmzjx7vm", :kotoba.app/embed-url "ipfs://bafkreidk4q3q7nqksmy4yszpt5rbcni7rnzo5hcxs5cztmfibrtmzjx7vm", :published {:archive "https://kotobase.net/ipfs/bafkreidk4q3q7nqksmy4yszpt5rbcni7rnzo5hcxs5cztmfibrtmzjx7vm", :size 72719, :put-status 201, :get-status 200, :at "2026-08-15T13:41:27.900Z"}}
